<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Project</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="addForm">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Informations</ion-label>
      </ion-item-divider>
      <ion-item lines="full">
        <ion-input autocorrect="on" formControlName="title" autofocus="on" clearInput="true" clearOnEdit="true"
          color="dark" inputmode="text" placeholder="Project Name" required="true">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-textarea autocorrect="on" formControlName="title" autofocus="on" clearInput="true" clearOnEdit="true"
          color="dark" inputmode="text" formControlName="description" rows="6" cols="20"
          placeholder="Project description...">
        </ion-textarea>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Dates</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="MM DD YYYY" formControlName="estimated_start_date" placeholder="Select Date">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-datetime displayFormat="MM DD YYYY" formControlName="estimated_end_date" placeholder="Select Date">
        </ion-datetime>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Developer Team</ion-label>
        <ion-button  (click)="addDevMember()" class="add-task-buttom" slot="end" icon-only shape="round" fill="clear"
          size="small">
          <ion-icon class="add-icon" name="add" color="grey"></ion-icon>
        </ion-button>
      </ion-item-divider>
      <div class="dev-team-group">
        <div class="empty-group-team" *ngIf="listDevTeam.length==0">
          No Developer Team
        </div>
        <div *ngIf="listDevTeam.length>0">
          <ion-list class="scrollable-list">
            <ion-item *ngFor="let item of listDevTeam">
              <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
              <ion-label>
                <h2>{{item.firstName}} {{item.lastName}}</h2>
                <h3>Developer</h3>
              </ion-label>
              <ion-button (click)="removeItemFromDevList(item)" icon-only shape="round" color="danger" fill="outline"
                size="small">
                <ion-icon name="close" color="danger"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ion-item-group>
  </form>
</ion-content>
<ion-footer>
  <ion-button type="submit" expand="full" [disabled]="addForm.invalid || listDevTeam.length==0" fill="solid" color="primary"
    (click)="saveProject()">Add Project
  </ion-button>
</ion-footer>