@import "./../../theme/variables.scss";

ion-input {
    --placeholder-color: var(--ion-color-dark);
}



.divider-buttom{
    --padding-end: 0 !important ;
    --padding-start: 0 !important ;
}

.add-icon {
    font-size: 10vw;
}

.empty-group-team {
    font-weight: 700;
    color: #a3a3a3;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

ion-item-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.scrollable-list {
    overflow: scroll !important;
    height: 10vh !important;
}

ion-footer ion-button {
    margin: 0 !important;
  }
