<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Project Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/imgs/project.png" alt="" />
    <ion-card-header class="card-project-header">
      <ion-card-title>{{(currentproject) ? (currentproject.title | capitalize) : 'Please wait ...' }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-card-subtitle color="primary" class="title">Description</ion-card-subtitle>
      <h2>{{(currentproject) ? (currentproject.description) : 'Please wait ...' }}</h2>

      <ion-card-subtitle color="primary" class="title">Starts At :</ion-card-subtitle>
      <h2>{{(currentproject) ? (currentproject.estimated_start_date | date:'dd/MM/yyyy') : 'Please wait ...' }}</h2>

      <ion-card-subtitle color="primary" class="title">Ends At :</ion-card-subtitle>
      <h2>{{(currentproject) ? (currentproject.estimated_end_date | date:'dd/MM/yyyy') : 'Please wait ...' }}</h2>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header class="card-header">
      <ion-card-subtitle color="primary" class="title">Project Manager</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="list-dev-team card-content" *ngIf="currentproject">
      <ion-chip>
        <ion-avatar>
          <img src="assets/imgs/girl-avatar.png" />
        </ion-avatar>
        <ion-label>
          {{(currentproject)?(currentproject.chef.firstName+' '+currentproject.chef.lastName | capitalize) : 'Please wait ...'}}
        </ion-label>
      </ion-chip>
    </ion-card-content>
    <div class="empty-group-team" *ngIf="!currentproject || !currentproject.chef">
      Please wait ...
    </div>
  </ion-card>


  <ion-card>
    <ion-card-header class="card-header">
      <ion-card-subtitle color="primary" class="title">Development Team</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="list-dev-team card-content" *ngIf="currentproject && currentproject.devTeamId.length>0">
      <ion-chip *ngFor="let dev of currentproject.devTeamId">
        <ion-avatar>
          <img src="assets/imgs/girl-avatar.png" />
        </ion-avatar>
        <ion-label>{{(currentproject)?(dev.firstName+' '+dev.lastName | capitalize) : 'Please wait ...'}}</ion-label>
      </ion-chip>
    </ion-card-content>
    <div class="empty-group-team" *ngIf="currentproject && currentproject.devTeamId.length==0">
      No Development Team associated !
    </div>
  </ion-card>

  <ion-card *ngIf="(currentuser && currentuser.userRole=='dev') ? true : false">
    <ion-card-header class="card-header">
      <ion-card-subtitle color="primary" class="title to-do"> My Tasks
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="padding: 1px;">
      <ion-list lines="none" *ngIf="listMyTasks.length>0" class="task-list">
        <ion-item *ngFor="let item of listMyTasks" (click)="gotoTaskDetails(item)" ion-long-press
          (longPressed)="showTasksOption(0, item)">
          <ion-label>
            <h2>{{item.taskTitle}}</h2>
            <p class="task-details">
              <span>
                {{item.taskDescription | shorten:'30'}}
              </span>
              <span [ngClass]="(item && item.state === 'todo') ? 'todo' : (item.state === 'doing') ? 'doing' : 'done'">
                {{ 
                  (item && item.state === 'todo') ? 'To Do' : '' 
                }}
                {{ 
                  (item && item.state === 'doing') ? 'Doing' : '' 
                }}
                {{ 
                  (item && item.state === 'done') ? 'Done' : '' 
                }}
              </span>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      <div class="empty-group-team" *ngIf="listMyTasks.length==0">
        No Tasks yet !
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="card-header">
      <ion-card-subtitle color="primary" class="title to-do">All Tasks
        <ion-button *ngIf="(currentuser && currentuser.userRole=='pm') ? true : false" class="add-task-buttom" icon-only
          shape="round" fill="clear" size="small" routerLink="/task-add/{{(currentproject)?currentproject._id:''}}">
          <ion-icon name="add" color="primary"></ion-icon>
        </ion-button>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="padding: 1px;">
      <ion-list lines="none" *ngIf="listTasks.length>0" class="task-list">
        <ion-item *ngFor="let item of listTasks" (click)="gotoTaskDetails(item)" ion-long-press
          (longPressed)="showTasksOption(1,item)">
          <ion-label>
            <h2>{{item.taskTitle}}</h2>
            <p class="task-details">
              <span>
                {{item.taskDescription | shorten:'30'}}
              </span>
              <span [ngClass]="(item && item.state === 'todo') ? 'todo' : (item.state === 'doing') ? 'doing' : 'done'">
                {{ 
                  (item && item.state === 'todo') ? 'To Do' : '' 
                }}
                {{ 
                  (item && item.state === 'doing') ? 'Doing' : '' 
                }}
                {{ 
                  (item && item.state === 'done') ? 'Done' : '' 
                }}
              </span>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      <div class="empty-group-team" *ngIf="listTasks.length==0">
        No Tasks yet !
      </div>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header class="card-header">
      <ion-card-subtitle color="primary" class="title to-do">
        Stats
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="padding: 1px;">
      <div>
        <ngx-charts-bar-vertical [xAxis]="true" [scheme]="colorScheme" [showXAxisLabel]="true" [showYAxisLabel]="true"
          [view]="view" [results]="testArray">
        </ngx-charts-bar-vertical>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>