<ion-content padding>
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-input autocorrect="on" formControlName="email" autofocus="on" clearInput="true" color="dark" inputmode="text"
        placeholder="Enter your email" required="true">
        <ion-icon name="mail" color="dark" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input autofocus="on" formControlName="password" color="dark" [type]="(showPassword) ? 'text' : 'password'"
        placeholder="Enter your password" required="true">
        <ion-icon name="key" color="dark" slot="start"></ion-icon>
      </ion-input>
      <ion-icon class="show-password-class" name="eye" color="dark" slot="end" *ngIf="!showPassword"
        (click)="showPasswordToggle()"></ion-icon>
      <ion-icon class="show-password-class" name="eye-off" color="dark" slot="end" *ngIf="showPassword"
        (click)="showPasswordToggle()"></ion-icon>
    </ion-item>

    <p text-right class="forget-text">Forgot Password?</p>
    <ion-button type="submit" expand="block" shape="round" [disabled]="loginForm.invalid" fill="solid" color="primary"
      (click)="onLogin()">Login
    </ion-button>
  </form>
</ion-content>