<ion-header>
    <ion-toolbar>
        <ion-buttons slot='end'>
            <ion-button icon-only (click)="updateToggle()" *ngIf="!isUpdating">
                <ion-icon name="create" color="primary"></ion-icon>
            </ion-button>
            <ion-button icon-only (click)="updateToggle()" *ngIf="isUpdating">
                <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-menu-button>
            </ion-menu-button>
        </ion-buttons>
        <ion-title>Profil</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content parallax-header no-bounce class="bg-modal">
    <div class="header">
    </div>
    <div class="main-content" text-wrap text-center>
        <div class="circular"></div>
        <h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2>
        <p>{{currentUser.userRole}}</p>
        <hr>
        <ion-list no-lines>
            <ion-item>
                <ion-icon name="mail" color="primary" item-start class="icon"> </ion-icon>
                {{currentUser.email}}
            </ion-item>
            <ion-item>
                <ion-icon name="calendar" color="primary" item-start class="icon"></ion-icon>
                {{currentUser.birthday}}
            </ion-item>
            <ion-item>
                <ion-icon name="contacts" color="primary" item-start class="icon"></ion-icon>
                {{currentUser.gender}}
            </ion-item>

            <ion-item>
                <ion-icon item-start name="pin" color="primary" class="icon"></ion-icon>
                <p>{{currentUser.address}}</p>
            </ion-item>
        </ion-list>
        <h2>Projects</h2>
    </div>
</ion-content>