.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
}

.error-icon {
    font-size: 25vh;
    margin-bottom: 8%;
}

.card-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-content {
    padding-top: 0;
    padding-bottom: 10px;
}