<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/project-add">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="listProjects.length>0">
    <ion-card class="welcome-card">
      <img src="/assets/imgs/project.png" alt="" />
      <ion-card-content>
        <ion-list *ngFor="let item of listProjects">
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/imgs/iconset.png">
            </ion-avatar>
            <ion-label>{{item.title}} 
              <ion-buttons class="btn" slot="end">
                <ion-button routerLink="/project-see/{{item._id}}">
                  <ion-icon name="information-circle-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-list>


  <div class="center-div" *ngIf="listProjects.length==0">
    <ion-icon name="clipboard" color="grey" class="error-icon"></ion-icon>
    No Projects Yet !
  </div>

</ion-content>